
@model IEnumerable<Inveon.TODO.Models.TodoModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container col-lg-12" style="margin-top:7pc">
    <form class="form-inline">
        <div class="form-group">
            <label for="todo">Todo:</label>
            <input type="text" class="form-control" id="todo" placeholder="Todo..." name="todo">
        </div>
        <div class="form-group">
            <label for="pwd">Todo Datetime:</label>
            <div class="input-group date" id="datetimepicker1"><input type="text" class="form-control" id="datetimepicker" /><span class="input-group-addon"><span class="fa fa-calendar"></span></span></div>
        </div>
        <button style="float:right;" type="button" class="btn btn-info add-new" id="btnAddTodo" onclick="AddTodo(this)">Add Todo</button>
    </form>
</div>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Todo List</h2></div>

            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-3">Todo</th>
                    <th>Todo Datetime</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    var todoId = "todo" + item.ID;
                    var todoDatetimeId = "todoDatetime" + item.ID;
                    <tr>
                        <td id="@todoId">@item.Todo</td>
                        <td id="@todoDatetimeId">@item.TodoDatetime</td>
                        <td>
                            <a class="add" title="Update Todo" data-toggle="tooltip" style="cursor:pointer;display:none" id="@item.ID" onclick="UpdateTodo(this)"><i class="material-icons" style="color:green">&#xE03B;</i></a>
                            <a class="edit" title="Edit Todo" style="cursor:pointer;" id="@item.ID"><i class="material-icons" style="color:orange">&#xE254;</i></a>
                            <a class="delete" title="Delete Todo" style="cursor:pointer;" id="@item.ID"><i class="material-icons" style="color:red">&#xE872;</i></a>
                            <a href="@Url.Action("index","Home")" title="Cancel Todo" class="cancel" style="cursor:pointer;display:none;margin-top: -29px;margin-left:28px;" data-toggle="tooltip"><i class="material-icons cancel" style="color:grey">&#xe5c9;</i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script>
// Calculate countdown and Update Todo list 
function SetAndUpdateCountdown() {
    var todos_json = @Html.Raw(Json.Encode(Model));
    var todos = new Array();
    var date = new Date();
    for (var i = 0; i < todos_json.length; i++) {
        var now = new Date().getTime();
        var deadline = new Date(formatDate(todos_json[i].TodoDatetime));
        var t = deadline.getTime() - now;
        if (t > 0) {
            todos.push({
                "ID": todos_json[i].ID, "Todo": todos_json[i].Todo, "TodoDatetime": deadline.getTime()})
        }
    }
    if (todos.length > 0) {
        var deadline = todos[0].TodoDatetime;
        var x = setInterval(function () {
            var now = new Date().getTime();
            var t = deadline - now;
            if (t < 0) {
                clearInterval(x);
                alert(todos[0].Todo);
                SetAndUpdateCountdown();
            }
        }, 1000);
    }

}
</script>
    <script src="~/Scripts/Todo.js"></script>
}

